* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.form-blk{
   
    background-image: linear-gradient(yellow, rgb(5, 255, 155));
    height: 100vh;
    display:flex ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form-blk form {
    background-color: rgba(250, 235, 215, 0.568);
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.form-blk form label{
   font-size: 35px; 
  text-align: center;
}
.form-blk form  input{
    font-size: 18px;
 padding: 3px 10px;
}
.form-blk form button{
    padding: 3px 10px;
    font-size: 18px;
}